.benefit-container {
  padding: 0 120px;
  background-color: #fffaf0;
  padding-bottom: 122px;
}

.benefit-container h1 {
  margin-bottom: 40px;
  color: #210203;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.benefits-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-height: 400px;
}

.benefits-content {
  flex: 1;
}

.benefits-content p {
  color: #687171;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
}

.benefits-list {
  list-style: none;
  padding: 0;
}

.benefits-list li {
  font-size: 24px;
  color: #3a3a3a;
  margin-bottom: 40px;
  position: relative;
  padding-left: 30px;
}

.benefits-list li::before {
  content: "●";
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #05474D;
  border-radius: 50%;
  display: inline-block;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits-list li::before::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #006d69;
  border-radius: 50%;
  display: block;
}



.image-container {
  flex: 1;
  padding-left: 2rem;
  display: flex;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

@media (max-width: 1024px) {
  .benefit-container {
    padding: 50px 60px;
  }

  .benefits-inner {
    flex-direction: column;
  }

  .image-container {
    padding-left: 0;
    margin-top: 2rem;
    height: auto;
  }

  .image-container img {
    height: auto;
    width: 100%;
    max-width: 100%;
    object-fit: contain;
    max-width: 500px;
    margin: 0 auto;
  }

  h1 {
    font-size: 2rem;
  }

  .benefits-list li {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .benefits-content p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .benefit-container {
    padding: 50px 30px;
  }

  .benefits-inner {
    flex-direction: column;
  }

  .image-container {
    padding-left: 0;
    margin-top: 2rem;
    height: auto;
  }

  .image-container img {
    height: auto;
    width: 100%;
    object-fit: contain;
  }

  h1 {
    font-size: 1.5rem;
  }

  .benefits-list li {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .benefits-content p {
    font-size: 12px;
  }
}
