* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Onest", serif;
}

.course-container {
  padding: 130px 100px;
  text-align: left;
  background-color: #fffaf0;
  padding-bottom: 215px;
}

.heading {
  font-size: 40px;
  margin-bottom: 30px;
  color: #4a2f13;
  text-align: left;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  justify-items: center;
  padding: 0;
}

.course-card {
  background-color: white;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #f6f2ea;
  text-align: left;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 261px;
  width: 100%;
  max-width: 397px;
}

.course-card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.course-header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  gap: 12px;
}

.course-image {
  width: 32px;
  height: 32px;
}

.course-title {
  font-weight: bold;
  color: #210203;
}

.course-description {
  margin-bottom: 20px;
  color: #687171;
  line-height: 24px;
  flex-grow: 1;
}

.course-button {
  background-color: #fff;
  border: 1px solid #eae4d6;
  border-radius: 100px;
  padding: 10px 0;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  color: #05484e !important;
}

.course-button:hover {
  background-color: #f4dcc2;
}

@media (max-width: 1200px) {
  .course-container {
    padding: 100px 50px;
  }
}

@media (max-width: 992px) {
  .course-container {
    padding: 80px 40px;
  }

  .course-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .heading {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .course-container {
    padding: 60px 30px;
  }

  .heading {
    font-size: 32px;
  }

  .course-card {
    width: 100%;
  }
}

@media (max-width: 590px) {
  .course-container {
    padding: 40px 20px;
  }

  .course-grid {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .heading {
    font-size: 28px;
    text-align: center;
  }

  .course-card {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 24px;
  }

  .course-container {
    padding: 40px 20px;
  }
}
