
.hero {
  background-image: url("/public/images/grid-blocks.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px;
  padding-top: 28px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  flex-wrap: wrap;
}

.hero-txt {
  max-width: 70%;
  color: white;
  flex-grow: 1;
  flex-basis: 70%;
}

#bootcamp-title {
  background-color: #065860;
  font-size: clamp(0.9rem, 1.2vw, 1rem);
  font-weight: bold;
  margin-bottom: 16px;
  width: fit-content;
  padding: 9px 12px;
  border-radius: 40px;
  color: white;
}

.hero-txt h1 {
  font-size: clamp(1.8rem, 4vw, 3rem);
  margin-bottom: 16px;
  max-width: 711px;
}

.hero-txt p {
  font-size: clamp(1rem, 1.6vw, 1.2rem);
  margin-bottom: 24px;
  color: #cacece;
  max-width: 681px;
}

.hero-btns {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
  height: 48px;
}

.apply-btn,
.curriculum-btn {
  padding: 12px;
  font-size: clamp(0.9rem, 1.2vw, 1rem);
  border: none;
  cursor: pointer;
  border-radius: 100px;
  transition: background-color 0.3s ease;
}

.apply-btn {
  background-color: #f6bb61;
  color: #032c30;
  white-space: nowrap;
}

.curriculum-btn {
  background-color: white;
  color: #1b3a4b;
}

.stats p {
  font-size: clamp(0.8rem, 1.2vw, 1rem);
  color: #cacece;
}

.cohort-date {
  margin-top: 1rem;
  max-width: 326px;
}

.cohort-date p {
  font-size: clamp(1rem, 1.6vw, 1.2rem);
  color: white !important;
  font-weight: 500;
}

#no {
  font-size: clamp(1.3rem, 2vw, 1.8rem);
  color: white;
}

.hero-img {
  flex-grow: 1;
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-img {
  max-width: 100%;
  width: 100%;
  border-radius: 10px;
}




@media (max-width: 1024px) {
  .hero {
    padding: 50px;
  }

  .hero-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-img {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 2rem;
    flex: 50%;
  }

  .hero-txt {
    max-width: 100%;
    flex-basis: 100%;
    flex: 50%;
  }

  .hero-txt h1 {
    font-size: clamp(1.8rem, 3.5vw, 2.5rem);
    max-width: none;
  }

  .hero-txt p {
    font-size: clamp(0.9rem, 1.5vw, 1.1rem);
  }

  .apply-btn,
  .curriculum-btn {
    font-size: clamp(0.8rem, 1.2vw, 1rem) !important;
  }

  .stats p,
  .cohort-date p {
    font-size: clamp(0.8rem, 1.4vw, 1rem);
  }
}


@media (max-width: 768px) {
  .hero {
    padding: 50px 40px;
    padding-bottom: 100px;
  }

  .hero-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-txt h1 {
    font-size: clamp(1.5rem, 5vw, 2rem);
  }

  .hero-txt p {
    font-size: clamp(0.9rem, 2.5vw, 1rem);
  }

  .stats p {
    font-size: clamp(0.8rem, 2.2vw, 0.9rem);
  }

  .cohort-date p {
    font-size: clamp(0.8rem, 2vw, 0.9rem);
  }

  .hero-img {
    margin-top: 2rem;
    max-width: 300px;
  }

  .apply-btn,
  .curriculum-btn {
    font-size: clamp(0.8rem, 1.6vw, 1rem) !important;
    border: 0.1px solid black;
  }
}

@media (max-width: 467px) {
  .hero {
    padding: 50px 20px;
    padding-bottom: 100px;
  }
}