.partners-slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: #fffaf0;
  padding: 44px 0 !important;
}

.partners-slider h3 {
  text-align: center;
  margin-bottom: 26px;
  font-weight: 600;
  font-size: 24px;
}

.slider-track {
  display: flex;
  width: calc(250px * 24);
  animation: scroll 30s linear infinite;
  gap: 80px;
}

.partner-logo {
  width: auto;
  max-width: 220px;
  height: 50px;
  margin: 0 10px;
  margin-top: 10px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 600px) {
  .partners-slider {
    padding: 10px 0;
  }

  .partner-logo {
    height: 25px;
  }

  .slider-track {
    gap: 20px;
    animation: scroll 50s linear infinite;
  }

  .partners-slider h3 {
    font-size: 18px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .partners-slider {
    padding: 15px 0;
  }

  .partner-logo {
    height: 40px;
  }

  .slider-track {
    gap: 50px;
    animation: scroll 40s linear infinite;
  }

  .partners-slider h3 {
    font-size: 22px;
  }
}

@media (min-width: 1025px) {
  .partners-slider {
    padding: 20px 0;
  }

  .partner-logo {
    height: 50px;
  }

  .slider-track {
    gap: 80px;
    animation: scroll 30s linear infinite;
  }

  .partners-slider h3 {
    font-size: 24px;
  }
}
